/build
*~
.DS_Store
.gradle
/build
/captures
/local.properties
/.idea/workspace.xml
/.idea/libraries
bin/
gen/
*.apk
*.ap_
*.dex
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.log
.idea/
*.iml